:root {
    --blue: #051528;
    --white: #ffffff;
    --green: #55daba;
    --gold: #cbb18a;
    --offwhite: #f5f5f1;
    --serif: 'Cormorant', Serif;
    --sanSerif: 'Typold', Sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tba-quiz * {
    box-sizing: border-box;
}

.tba-quiz {
    position: relative;
    padding: 0px 20px 20px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.tba-quiz::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background-color: var(--green);
}

.tba-quiz h1 {
    font-family: var(--serif);
    font-size: 32px;
    text-align: center;
    height: 160px;
    display: grid;
    align-content: center;
    margin-bottom: 50px;
}

.tba-quiz h2 {
    font-family: var(--serif);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
}

.tba-quiz p {
    font-family: var(--sanSerif);
    font-size: 16px;
    max-width: 650px;
    margin-bottom: 20px;
}

.tba-quiz button {
    all: unset;
    background-color: var(--green);
    padding: 16px 25px;
    width: fit-content;
    font-family: var(--sanSerif);
    cursor: pointer;
}

.tba-quiz form {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}

.tba-quiz footer {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tba-quiz fieldset {
    all: unset;
}

.tba-quiz legend {
    all: unset;
}

.tba-quiz small {
    font-family: 'Typold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

.tba-quiz form > fieldset {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tba-quiz form > fieldset > legend {
    font-family: var(--serif);
    font-size: 32px;
    margin-bottom: 100px;
}

.tba-quiz nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 650px;
}

.tba-quiz nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tba-quiz nav ul button {
    overflow: hidden;
    all: unset;
    background-color: var(--offwhite);
    width: 100%;
    font-family: var(--sanSerif);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    position: relative;
    padding: 0 10px;
}

.tba-quiz nav ul button span {
    mix-blend-mode: difference;
    z-index: 1;
    color: var(--offwhite);
}

.tba-quiz nav ul button img {
    mix-blend-mode: difference;
    z-index: 1;
}

.tba-quiz nav ul button .progress {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--blue);
    transition: width 2s ease-in;
}

.tba-quiz nav ul button:hover .progress {
    width: 100%;
}

nav.start-quiz {
    top: 0;
    transform: translateY(20px);
}

nav.start-quiz ul {
    flex-direction: row;
}

nav.start-quiz ul li {
    width: 45px;
}

nav.start-quiz ul button {
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav.start-quiz ul .tba-active {
    flex-grow: 1;
}

nav.start-quiz ul button span {
    display: none;
}

.tba-quiz nav ul button .progress {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--blue);
    transition: width 2s ease-in;
}

.tba-quiz nav ul button:hover .progress {
    width: 100%;
}

.tba-introduction {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.tba-introduction p {
    flex-grow: 1;
}

.tba-quiz .step-item {
    display: flex;
    flex-direction: column;
}

.tba-quiz label,
.step-item legend {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 10px;
}

.tba-quiz input:not(input[type='range']),
select {
    all: unset;
    padding: 10px;
    font-family: 'Typold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: #f5f5f1;
    border-bottom: 2px solid var(--green);
    margin-bottom: 20px;
}

.bmi-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--offwhite);
    margin-bottom: 20px;
}

#bmi-nummer {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 100%;
    margin-bottom: 0px;
}

.bmi-calc #wijzer {
    width: 50px;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 170px;
    transform-origin: 100% 50%;
    transform: rotate(80deg);
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.input-wrapper input:checked + label {
    background-color: var(--gold);
    border: 2px solid var(--green);
}

.input-wrapper input {
    display: none !important;
}

.input-wrapper label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    font-family: 'Typold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    background-color: var(--offwhite);
    border-bottom: 2px solid var(--green);
    cursor: pointer;
}

.input-wrapper.small-input label {
    aspect-ratio: unset;
    padding: 10px;
}

.range-container {
    position: relative;
    display: flex;
    gap: 20px;
}

input[type='range'] {
    position: relative;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--green);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url('placeholder.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    background-size: contain;
    cursor: pointer;
}

.range-in-out {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}
.range-container output {
    position: absolute;
    left: 0px;
    bottom: -35px;
    padding: 0.5em;
    background: var(--blue);
    color: var(--white);
}

.range-label {
    font-family: 'Typold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

#voeding-resultaat {
    background-color: var(--offwhite);
    padding: 30px;
    display: flex;
    font-family: 'Cormorant';
    font-size: 18px;
    line-height: 120%;
    text-align: center;
}

.input-option {
    display: flex;
}
